*.png  filter=lfs diff=lfs merge=lfs -text
book/images/blur_sigma_1_5.png filter=lfs diff=lfs merge=lfs -text
book/images/distractors_topk.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/clean_translation/template.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/rotation_wrap_172_5deg/image.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/clean_translation_large/image.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/clean_translation_large/template.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/noise_gaussian/image.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/pyramid_stress/image.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/pyramid_stress/template.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/clean_translation/image.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/near_border/image.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/noise_gaussian/template.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/occluded_25pct/image.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/rotation_coarse_30deg/image.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/rotation_coarse_30deg/template.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/rotation_fine_22_5deg/image.png filter=lfs diff=lfs merge=lfs -text
book/images/rotation_fine_22_5deg.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/blur_sigma_1_5/template.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/distractors_topk/image.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/pyramid_stress_single_level/image.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/blur_sigma_1_5/image.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/distractors_topk/template.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/illumination_shift/template.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/negative_no_match/image.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/rotation_fine_single_level/image.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/near_border/template.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/pyramid_stress_single_level/template.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/rotation_wrap_172_5deg/template.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/occluded_25pct/template.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/rotation_fine_22_5deg/template.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/rotation_fine_single_level/template.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/illumination_shift/image.png filter=lfs diff=lfs merge=lfs -text
synthetic_cases/negative_no_match/template.png filter=lfs diff=lfs merge=lfs -text
