name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    env:
      PYO3_PYTHON: python
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Cargo fmt
        run: cargo fmt --all --check

      - name: Cargo clippy
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings

      - name: Cargo test
        run: cargo test --workspace --all-features

      - name: Cargo doc
        run: cargo doc --no-deps --workspace
